.root {
    -fx-background-color: #3498db; /* Couleur de fond */
}

#searchTextField, #searchButton {
    -fx-background-color: #3498db; /* Couleur du champ de recherche et du bouton */
    -fx-text-fill: white; /* Couleur du texte */
}

.label, .table-column {
    -fx-text-fill: black; /* Couleur du texte des labels */
}

#dateTextField, #contenuTextField, #fichierTextField, #likesTextField, #dislikesTextField, #titreTextField, #commentTextField {
    -fx-background-color: #34495e; /* Couleur des champs de texte */
    -fx-text-fill: white; /* Couleur du texte */
}
.form {
    -fx-border-radius: 12px;
    -fx-background-color: #FFF;
    -fx-padding: 8px;
    -fx-border-width: 1px;
    -fx-border-color: #ccc;
    -fx-border-style: solid;
}

#openMapButton {
    -fx-background-color: #3498db; /* Couleur du bouton ouvrir la carte */
    -fx-text-fill: white; /* Couleur du texte */
}
.text-field {
    -fx-background-color: #ffffff; /* Background color of text fields */
    -fx-text-fill: black; /* Text color of text fields */
}
.button, #editbtn, #exportButton {
    -fx-background-color: #3498db; /* Couleur des autres boutons */
    -fx-text-fill: white; /* Couleur du texte */
}

#postTab {
    -fx-background-color: #34495e; /* Couleur de fond du tableau */
    -fx-text-fill: white; /* Couleur du texte */
}

.table-column {
    -fx-text-fill: black; /* Couleur du texte des colonnes du tableau */
}

#dateTextField, #contenuTextField, #fichierTextField, #likesTextField, #dislikesTextField, #titreTextField, #commentTextField {
    -fx-background-color: #ffffff; /* Couleur des champs de texte */
    -fx-text-fill: black; /* Couleur du texte */
}